<%-include('parts/header')%>
<%-include('parts/navbar')%>
<div class="container">
<form action="/" method="GET">
 <select name="category" class="form-control" >
<option value="all">all</option>
<option value="labtop">laptop</option>
<option value="mobile">phone</option>
<option value="clothes">clothes</option>

 </select>
 <input type="submit" class=" btn btn-primary" value=" filter">

</form>
<%if(validationError) {%>
<p class="alert alert-danger"><%=validationError.msg%></p>
<%}%>    
<%if (products.length===0) { %>
      <div class="alert alert-danger">there is no product</dev>
      <%}else{%>
        <div class="row">
          <% for (let product of products) { %>
          <div class="  col col-12 col-md-4 col-lg-4 col-xl-3 lol">
            <div class="card" style="width: 18rem;">
                <img src="<%= product.image%>" class="card-img-top" >
                <div class="card-body">
                  <h5 class="card-title">
                      <a href="/product/<%=product._id%>"><%=product.name%></a>
                  <p>price : <%= product.price%> $ </p>
                    </h5>
                  <form action="/cart" method="POST" class="add-to-cart-form">
                    <input type="number " name="amount" class="form-control">
                    <input type="hidden" name="name"  value="<%= product.name%>">
                    <input type="hidden" name="price"  value="<%= product.price%>">  
                    <input type="hidden" name="productId"  value="<%= product._id%>">
                    <input type="hidden" name="redurectTo"  value="/">
                    <input type="submit" value="add to cart" class="btn btn-primary">
                  </form>
                </div>
              </div>
          </div>
            <%}%>
        
            </div>
        <%}%>
</div>

<%-include('parts/footer')%>
   
    