<%-include('parts/header')%>
<%-include('parts/navbar')%>
<div class="container">

    <div class="row">
        <div>
  <div class="  col col-12 col-md-6 ">
    <img src="<%= product.image%>"  >
    
    <form action="/cart" method="POST" class="add-to-cart-form">
      <input type="number " name="amount" class="form-control">
      <input type="hidden" name="name"  value="<%= product.name%>">
      <input type="hidden" name="price"  value="<%= product.price%>">  
      <input type="hidden" name="productId"  value="<%= product._id%>">
      <input type="hidden" name="redurectTo"  value="/product/<%= product._id%>">
      <input type="submit" value="add to card" class="btn btn-primary">
    </form>
    <%if(validationError) {%>
      <p class="alert alert-danger"><%=validationError.msg%></p>
      <%}%> 
    
    </div>
        <div class="col col-12 col-md-6">
              <h3 ><%=product.name%></h3>
          <h5>price : <%= product.price%> $ </h5>
          <p>description : <%= product.description%> $ </p>
        </div>
      </div>
  </div>
   

    </div>
</div>

<%-include('parts/footer')%>