<%-include('parts/header')%>
<%-include('parts/navbar')%>
<div class="container text-center">
<h3> create account </h3>
<form action="/signup" method="POST">
<input type="text" class="form-control" name="username" placeholder="username">
<%let usernameError = validationError.find(err=>err.param==='username')%>
<%if(usernameError) {%>
    <p class="alert alert-danger">
        <%=usernameError.msg%>
        <%}%>

    </p>

<input type="email" class="form-control" name="email" placeholder="E-mail">
<%let emailError = validationError.find(err=>err.param==='email')%>
<%if(emailError) {%>
    <p class="alert alert-danger">
        <%=emailError.msg%>
        <%}%>
    </p>
<input type="password" class="form-control" name="password" placeholder="password">
<%let passwordError = validationError.find(err=>err.param==='password')%>
<%if(passwordError) {%>
    <p class="alert alert-danger">
        <%=passwordError.msg%>
        <%}%>
    </p>
<input type="password" class="form-control" name="confirmpassword" placeholder="confirmpassword">
<%let confirmpasswordError = validationError.find(err=>err.param==='confirmpassword')%>
<%if(confirmpasswordError) {%>
    <p class="alert alert-danger">
        <%=confirmpasswordError.msg%>
        <%}%>
    </p>
<input type="submit" value="Create Account" class="btn btn-primary">
</form>
<% if(authError) {%>
    <br>
    <p class="alert alert-danger">
    <%= authError%>
    <% } %>
    
   

       
    </p>
<br>
<div>

    Already have account ? <a href="/login">login </a>
</div>



</div>

<%-include('parts/footer')%>